aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
altgraph==0.17.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
beautifulsoup4==4.14.3
blinker==1.9.0
bottle-websocket==0.2.9
branca==0.8.2
brazilcep==7.0.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
deep-translator==1.11.4
Eel==0.18.1
et_xmlfile==2.0.0
fastapi==0.127.0
filelock==3.20.1
Flask==3.1.2
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
flet==0.28.3
flet-desktop==0.28.3
folium==0.20.0
fonttools==4.60.1
frozenlist==1.7.0
fsspec==2025.12.0
future==1.0.0
geopandas==1.1.1
gevent==25.5.1
gevent-websocket==0.10.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
llvmlite==0.46.0
lxml==5.4.0
MarkupSafe==3.0.3
matplotlib==3.10.7
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.6.3
networkx==3.6.1
numba==0.63.1
numpy==2.3.4
oauthlib==3.2.2
openai-whisper==20250625
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pefile==2023.2.7
pillow==11.2.1
plyer==2.1.0
propcache==0.3.2
psutil==7.0.0
pycep-correios==5.2.0
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.8
PyJWT==2.10.1
pyogrio==0.11.1
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-multipart==0.0.21
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
rarfile==4.2
regex==2025.11.3
repath==0.9.0
reportlab==4.4.9
requests==2.32.4
schedule==1.2.2
seaborn==0.13.2
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.1
starlette==0.50.0
sympy==1.14.0
tiktoken==0.12.0
torch==2.9.1
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.40.0
Werkzeug==3.1.5
whichcraft==0.6.1
winshell==0.6
xyzservices==2025.10.0
yarl==1.20.1
yt-dlp==2025.12.8
zope.event==5.0
zope.interface==7.2
